{{#> plantilla}}
<section class="contenedor">
    <form action="/register"  method="post">
        <h1>{{msge}}</h1>
        <div><hr></div>
        <a href="/">Iniciar Sesion</a>
        <a href="/register">Registrarse</a>
        <a href="/usuarios">Ver todos los usuarios</a>
    </form>
</section>    
{{/plantilla}}