{{#> tarjetaItem}}
    <section>
        {{#each arrData}}
            <div class="tarjeta-contenedor">
                <img src= {{this.bandera}}>
                <div>Continente: {{this.Continente}}</div>
                <div>País: {{this.País}}</div>
                <div>Capital: {{this.Capital}}</div>
            </div>
        {{/each}}
    </section>
{{/tarjetaItem}}

