{{#> plantilla}}
    <section>
        <h1>Menú</h1>
        <ul>
            {{#each almuerzos}}
                <li>
                    <span>
                        <a id={{@key}} class="btn" href="/eliminar/{{@key}}">&#x2715;</a> 
                        {{nombre}}
                    </span>
                    <span>{{precio}}</span>
                </li>
            {{/each}}
        </ul>
    </section>
    <div class="agregar">
        <a class="btn" href="/crear">
            Agregar Nuevo Item
        </a>
    </div>
{{/plantilla}}